<div class="col-md-8 offset-md-2">
  <h2 class="mt-4 mb-5 text-center">Employee List</h2>

  <div *ngIf="employees.length > 0; else noEmployees">
    <table class="table table-bordered table-striped shadow-sm bg-light">
      <thead class="table-dark text-center">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email Id</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let employee of employees">
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.emailId }}</td>
          <td class="d-flex justify-content-center gap-2">
            <button
              (click)="updateEmployee(employee.id)"
              class="btn btn-outline-primary btn-sm"
              style="min-width: 90px"
            >
              Update
            </button>
            <button
              (click)="deleteEmployee(employee.id)"
              class="btn btn-outline-danger btn-sm"
              style="min-width: 90px"
            >
              Delete
            </button>
            <button
              (click)="employeeDetails(employee.id)"
              class="btn btn-outline-success btn-sm"
              style="min-width: 90px"
            >
              View
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noEmployees>
    <div class="alert alert-warning text-center">No employees available.</div>
  </ng-template>
</div>
