<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-lg rounded-3 border-light">
        <div class="card-header bg-primary text-white text-center py-4">
          <h3 class="mb-0">🔍 View Employee Details 📝</h3>
        </div>
        <div class="card-body p-4">
          <div class="mb-4">
            <label class="form-label fw-bold text-muted">First Name:</label>
            <div class="fw-semibold text-dark">{{ employee.firstName }}</div>
          </div>
          <div class="mb-4">
            <label class="form-label fw-bold text-muted">Last Name:</label>
            <div class="fw-semibold text-dark">{{ employee.lastName }}</div>
          </div>
          <div class="mb-4">
            <label class="form-label fw-bold text-muted">Email Address:</label>
            <div class="fw-semibold text-dark">{{ employee.emailId }}</div>
          </div>
          <a
            routerLink="/employees"
            class="btn btn-lg btn-outline-primary mt-3 w-100"
            >Back to List</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
