<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <div class="container">
    <ul class="navbar-nav d-flex justify-content-center w-100">
      <li class="nav-item me-3">
        <a
          routerLink="employees"
          routerLinkActive="active"
          class="nav-link btn btn-primary rounded-pill px-4 py-2"
        >
          <i class="bi bi-person-lines-fill me-2"></i> Employee List
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="create-employee"
          routerLinkActive="active"
          class="nav-link btn btn-primary rounded-pill px-4 py-2"
        >
          <i class="bi bi-person-add me-2"></i> Add Employee
        </a>
      </li>
    </ul>
  </div>
</nav>

<h1 class="text-center mt-5">{{ title }}</h1>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
