<div class="col-md-6 offset-md-3 mt-5">
  <div class="card p-4 border rounded bg-light shadow-sm">
    <h2 class="mt-4 mb-5 text-center">Update Employee</h2>

    <form (ngSubmit)="onSubmit()">
      <div class="form-floating mb-4">
        <input
          type="text"
          class="form-control"
          id="firstName"
          [(ngModel)]="employee.firstName"
          name="firstName"
          placeholder="First Name"
          required
        />
        <label for="firstName">First Name</label>
      </div>

      <div class="form-floating mb-4">
        <input
          type="text"
          class="form-control"
          id="lastName"
          [(ngModel)]="employee.lastName"
          name="lastName"
          placeholder="Last Name"
          required
        />
        <label for="lastName">Last Name</label>
      </div>

      <div class="form-floating mb-4">
        <input
          type="email"
          class="form-control"
          id="emailId"
          [(ngModel)]="employee.emailId"
          name="emailId"
          placeholder="Email Id"
          required
        />
        <label for="emailId">Email Id</label>
      </div>

      <button class="btn btn-primary w-100" type="submit">
        <i class="bi bi-pencil-fill me-2"></i> Update
      </button>
    </form>
  </div>
</div>
